.container {
  width: 100%;
  min-height: 100vh;
  background: var(--color3);
  padding-top: 5em;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.card_container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30em;
  height: max-content;
  border: 9px solid white;
  border-radius: 9px;
  position: relative;
}
.number_icon {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fff;
}
.card_body {
  margin-left: 2em;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  height: 7em;
  width: 7em;
}
.name {
  /* max-width: 180px; */
  align-self: center;
  transform: skew(-5deg, -6deg);
  font-size: 1.4em;
  text-transform: capitalize;
  text-align: center;
  text-align-last: center;
  line-height: 1.1;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  height: auto;
  width: auto;
  /* margin-bottom: 26px; */
  color: rgb(249, 248, 248);
  background: red;
  box-shadow: 10px 9px 16px -8px rgba(0,0,0,0.63);
  -webkit-box-shadow: 10px 9px 16px -8px rgba(0,0,0,0.63);
  -moz-box-shadow: 10px 9px 16px -8px rgba(0,0,0,0.63);
}

.stars_container {
  color: yellow;
  position: absolute;
  top: .5em;
  right: .7em;
  font-size: 1.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars_container > h4 {
  margin: 0 0 0 0;
}
.number_icon{ 
  position: absolute;
  bottom: .5em;
  right: .7em;
  font-size: 2.4em;
  margin: 0 0 0 0;
}

.loader_container  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    font-size: 15px;
  }

}
@media screen and (min-width: 992px) {
  .container {
    font-size: 18px;
  }
}



.normal {
  background: radial-gradient(circle, rgba(250,251,63,1) 26%, rgba(252,149,70,1) 100%);
}
.fighting {
  background: radial-gradient(circle, rgb(234, 43, 81) 26%, rgb(94, 3, 21) 100%);

}
.flying {
  background: radial-gradient(circle, #56cbcb 26%, #00ffff 100%);

}
.poison {
  background: radial-gradient(circle, rgb(140, 15, 202) 26%, rgb(73, 3, 88)100%);

}
.ground {
  background: radial-gradient(circle, rgb(203, 113, 113) 26%, rgb(132, 50, 50) 100%);

}
.rock {
  background: radial-gradient(circle, rgb(187, 152, 125) 26%, rgb(108, 95, 61) 100%);

}
.bug {
  background: radial-gradient(circle, rgb(148, 199, 52) 26%, rgb(77, 152, 16) 100%);

}
.ghost {
  background: radial-gradient(circle, rgb(144, 163, 123) 26%, rgb(73, 83, 62) 100%);

}
.steel {
  background: radial-gradient(circle, #6c7e94 26%, #2a465d 100%);

}
.fire {
  background: radial-gradient(circle, rgb(247, 129, 129) 26%, rgb(239, 12, 12) 100%);

}
.water {
  background: radial-gradient(circle, rgb(118, 118, 221) 26%, rgb(52, 52, 234) 100%);

}
.grass {
  background: radial-gradient(circle, rgb(21, 180, 71) 26%, rgb(2, 73, 7) 100%);

}
.electric {
  background: radial-gradient(circle, rgb(238, 255, 0) 26%,  rgb(255, 166, 0)   100%);

}
.psychic { 
  background: radial-gradient(circle, rgb(196, 152, 202) 26%, rgb(198, 10, 192) 100%);

}
.ice {
  background: radial-gradient(circle, rgb(97, 193, 238) 26%, rgb(4, 104, 140) 100%);

}
.dragon {
  background: radial-gradient(circle, rgb(197, 199, 228) 26%, rgb(0, 102, 157) 100%);

}
.dark {
  background: radial-gradient(circle, rgb(89, 86, 86) 26%, rgb(40, 39, 39) 100%);

}
.fairy {
  background: radial-gradient(circle, pink 26%, rgb(216, 75, 99) 100%);

}
.unknown {
  background: radial-gradient(circle, rgb(117, 212, 34) 26%, rgb(74, 104, 1) 100%);

}
.shadow {
  background: radial-gradient(circle, rgb(255, 255, 255) 26%, rgb(121, 120, 118) 100%);

}
