.container {
  background: var(--color3);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

.container > h2 {
  color: #fff;
  align-self: center;
  position: absolute;
  text-align: center;
  text-align-last: center;
  top: 50vh;
}